.about-text {
  color: #FFFFFF;
  position: absolute;
  font-weight: bolder;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 150%;
}

.about-text p {
  margin-top: 3em;
  margin-left: 25%;
  margin-right: 25%;
}
