.services-text {
  color: #FFFFFF;
  position: absolute;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 150%;
  margin-left: 25%;
  margin-right: 15%;
}

.services-text ul {
  list-style: none;
}

.monthly-programmes {
  font-style: italic;
  font-weight: lighter;
}

.services-headings {
  font-weight: bolder;
}
